{% extends 'base.html' %}

{% block head %}
<title>Jobs</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Jobs</h1>

    <table>
        <tr>
            <th>App</th>
            <th>Start</th>
            <th>Stop</th>
        </tr>

        <tr>
            <td>nginx_logo</td>
            <td>Web page with Logo Image</td>
            <td><a href="/start/nginx_logo">Start</a></td>
            <td><a href="/stop/nginx_logo">Stop</a></td>
            <td><a href="/launch/nginx_logo">Launch</a></td>
        </tr>
        <tr>
            <td>nginx_app</td>
            <td>Web page with Node.js App</td>
            <td><a href="/start/nginx_app">Start</a></td>
            <td><a href="/stop/nginx_app">Stop</a></td>
            <td><a href="/launch/nginx_app">Launch</a></td>
        </tr>
        <tr>
            <td>shellhttpd</td>
            <td>Shellhttpd Example</td>
            <td><a href="/start/shellhttpd">Start</a></td>
            <td><a href="/stop/shellhttpd">Stop</a></td>
            <td><a href="/launch/shellhttpd">Launch</a></td>
        </tr>
        <tr>
            <td>gin</td>
            <td>Grafana, InfluxDB and nodeRED</td>
            <td><a href="/start/gin">Start</a></td>
            <td><a href="/stop/gin">Stop</a></td>
            <td><a href="/launch/gin">Launch</a></td>
        </tr>
        <tr>
            <td>code-server</td>
            <td>VS Code in the browser</td>
            <td><a href="/start/code-server">Start</a></td>
            <td><a href="/stop/code-server">Stop</a></td>
            <td><a href="/launch/code-server">Launch</a></td>
        </tr>
        <tr>
            <td>restreamer2</td>
            <td>Stream IP Camera</td>
            <td><a href="/start/restreamer2">Start</a></td>
            <td><a href="/stop/restreamer2">Stop</a></td>
            <td><a href="/launch/restreamer2">Launch</a></td>
        </tr>
        <tr>
            <td>aws-iotsdk</td>
            <td>Sending data to DevicePilot</td>
            <td><a href="/start/aws-iotsdk">Start</a></td>
            <td><a href="/stop/aws-iotsdk">Stop</a></td>
            <td><a href="/launch/aws-iotsdk">Launch</a></td>
        </tr>
        <tr>
            <td>python</td>
            <td>Python - Hello World</td>
            <td><a href="/start/python">Start</a></td>
            <td><a href="/stop/python">Stop</a></td>
            <td><a href="/launch/python">Launch</a></td>
        </tr>
        <tr>
            <td>facemask</td>
            <td>OpenVino Mask Detection</td>
            <td><a href="/start/facemask">Start</a></td>
            <td><a href="/stop/facemask">Stop</a></td>
            <td><a href="/launch/facemask">Launch</a></td>
        </tr>
        <tr>
            <td>ros</td>
            <td>Tool made for teaching ROS</td>
            <td><a href="/start/ros">Start</a></td>
            <td><a href="/stop/ros">Stop</a></td>
            <td><a href="/launch/ros">Launch</a></td>
        </tr>
    </table>
</div>
{% endblock %}